@import 'tailwindcss';
@plugin "daisyui"{
  themes: my --default;
};




@plugin "daisyui/theme" {
  name: "corporate";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(97% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(93% 0.032 255.585);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(60% 0.126 221.723);
  --color-primary-content: oklch(98% 0.019 200.873);
  --color-secondary: oklch(88% 0.059 254.128);
  --color-secondary-content: oklch(28% 0.091 267.935);
  --color-accent: oklch(50% 0.118 165.612);
  --color-accent-content: oklch(90% 0.093 164.15);
  --color-neutral: oklch(28% 0.091 267.935);
  --color-neutral-content: oklch(97% 0.014 254.604);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(65% 0.241 354.308);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
























